table {
    width: 100%;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #35424a;
    color: white;
    text-align: center;
}

td {
    text-align: center;
}